<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<appSettings>
		<!--
	 Specify the version of Aeries you are running.
	 
	 Valid Values:
	 Aeries		- Standard Aeries
	 AeriesCS	- Aeries Client Server
	 -->
		<add key="AeriesType" value="AeriesCS" />
		<!--
		Specify the Aeries School Codes that you would like to extract (comma seperated list).
		-->
		<add key="AeriesSchoolCodes" value="1,2,3,4" />
		<!--
	 Specify the current school year (for the school year 2010-2011, use 2010) 
	-->
		<add key="AeriesSchoolYear" value="2017" />
		<!--
		Specify the location to save the extracted files.
		-->
		<add key="SaveLocation" value=".\Data" />
		<!--
		Language Fluency (STU.LF) Translations (XREF)
		Enter your Aeries codes for the following classifications (identified by the Key) into the "value".
		These can be blank and will extract raw values from Aeries and can contain multiple values that are comma (,) delimited (E,L,A).
		-->
		<add key="LangFluency-EnglishOnly" value="E" />
		<add key="LangFluency-InitiallyFluentEngProf" value="I" />
		<add key="LangFluency-EnglishLearner" value="L" />
		<add key="LangFluency-RedesignatedFluentEngProf" value="R" />
		<add key="LangFluency-ToBeDeturmined" value="T" />
		
		<!--
		Program Exclusions
		Use this to exclude specific Program codes from the Aeries Extract. For example, Program 175.
		This can be one program or a list of program codes comma delimited (175,126).
		-->
		<add key="ProgramExclusions" value="" />
		
		<!--
		Should the State Educator ID be used when extracting Teacher/Staff information?
		Valid Values: True, False
		-->
		<add key="UseStateEducatorID" value="False" />
		<!--
		Contacts
		Should contacts be extracted from the Contact table (CON), Students Table (STU) or Both.
		Valid Values:
			CON
			STU
			Both
		-->
		<add key="ContactsLocation" value="STU" />
		
		<!-- 
		School Start Date
		Used to deturmin if we are before the actual start of school (schedules).
		Format: YYYY-MM-DD (ex. 2013-01-01 = January 1, 2013)
		
		NOTE: This is *also* the first date that anyone has access to the new year's
			  data. So rather than setting this to the exact school start date, consider
			  setting it to the first date that you want teachers to access their roster
			  data, perhaps up to 2 weeks before school starts.
		
		-->
		<add key="SchoolStartDate" value="2017-08-16" />
		
		<!--
		Free/Reduced Data Table
		Specify the table you would like to use to pull Free/Reduced data.
		If invalid or not specified, the tables are checked in this order FRE, FRM, FAR.
		Valid values are FRE, FRM, FAR.
		-->
		<add key="FreeReducedTable" value="FRE" />
		
		<!--
		Extracts to Include/Exclude
		-->
		<add key="Include-Attendance" value="false" />
		<add key="Include-Contacts" value="true" />
		<add key="Include-Courses" value="true" />
		<add key="Include-Enrollments" value="true" />
		<add key="Include-Programs" value="true" />
		<add key="Include-Rosters" value="true" />
		<add key="Include-Schedules" value="true" />
		<add key="Include-Sites" value="true" />
		<add key="Include-Students" value="true" />
		<add key="Include-Terms" value="true" />
		<add key="Include-Transcripts" value="false" />
		<add key="Include-Users" value="true" />
		<add key="Include-Language" value="true" />
		<!-- 
		Illuminate Education SFTP Settings
		-->
		<add key="SFTP-Enabled" value="True" />
		<add key="SFTP-Host" value="sftp.illuminateed.com" />
		<add key="SFTP-UserName" value="" />
		<add key="SFTP-Password" value="" />
		<!--Aeries (Non Client Server Version) Settings-->
		<!--
	 Specify the path to your school Data (i.e. c:\eagle\data\)
	 -->
		<add key="AeriesDataPath" value="" />
		<!--
	 Specify the path to your Access security file (system.mdw)
	-->
		<add key="AeriesSecurityFile" value="" />
		<!--
	 Specify the user name that the system should use to access Aeries.
	-->
		<add key="AeriesUser" value="administrator" />
		<!--
	 Specify the password the system should use to access Aeries.
	-->
		<add key="administrator" value="administrator" />
		<!--Aeries CS (Client Server Version) Settings-->
		<!--
	 Specify the SQL Server Name.
	-->
		<add key="AeriesCSServer" value="" />
		<!--
	 Specify the SQL database name for Aeries.
	-->
		<add key="AeriesCSDatabase" value="DST17000EXAMPLE" />
		<!--
	 Specify the user name that the system should use to access Aeries.
	-->
		<add key="AeriesCSUser" value="illuminate" />
		<!--
	 Specify the password the system should use to access Aeries.
	-->
		<add key="AeriesCSPassword" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>